<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>score</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">score</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon
        style="margin-left: 15px"
        size="large"
        name="basketball-outline"
      >
      </ion-icon>
    </ion-buttons>
    <ion-title>SCORE IEGCODE APPS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-text color="secondary" class="ion-text-center">
      <h1 class="ion-2x" style="font-size: 10em">{{ count }}</h1>
      <ion-button color="success" (click)="up()" expand="block"
        >Up ⬆</ion-button
      >
      <ion-button color="warning" (click)="down()" expand="block"
        >Down ⬇</ion-button
      >
      <ion-button color="primary" (click)="backHome()" expand="block"
        >Back Home 🏠</ion-button
      >
    </ion-text>
  </ion-card>

  <ion-card>
    <img
      alt="Buildig Digital Economy"
      src="https://gemilangmultiteknologi.vercel.app/image/innerpage/juara2.png"
    />
    <ion-card-header>
      <ion-card-title>2nd place hackathon</ion-card-title>
      <ion-card-subtitle>Building Digital Economy</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      This is our team from Gemilang Multi Teknologi take part in a hackthon
      competition. and develop a BUYR application is a payment application
      without queuing with Scanner Barcode.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Team GMT</ion-card-title>
      <ion-card-subtitle>our team</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              style="border-radius: 50px"
              alt="ibrahimelgibran"
              src="https://gemilangmultiteknologi.vercel.app/image/l-1/client-1.png"
            />
          </ion-thumbnail>
          <ion-label>Ibrahim El Gibran - 22.01.4774</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              style="border-radius: 50px"
              alt="Rifandi Annas"
              src="https://gemilangmultiteknologi.vercel.app/image/l-1/client-2.png"
            />
          </ion-thumbnail>
          <ion-label>Rifandi Annas Shahruri - 22.01.4750</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              style="border-radius: 50px"
              alt="Bagas Nurfauzi Hidayatullah"
              src="https://gemilangmultiteknologi.vercel.app/image/l-1/client-3.png"
            />
          </ion-thumbnail>
          <ion-label>Bagas Nurfauzi Hidayatullah - 22.01.4768</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-item detail="true">
    <ion-label>
      <h3>Java</h3>
      <p>
        a fast, secure, reliable programming language for coding everything from
        mobile apps and enterprise software to big data applications and
        server-side technologies.
      </p>
    </ion-label>
  </ion-item>

  <ion-item detail="true">
    <ion-label>
      <h3>Spring Boot</h3>
      <p>
        Spring Framework, Reduces time in development and increases
        productivity—Spring Boot makes it much easier to develop Spring-based
        apps with Java.
      </p>
    </ion-label>
  </ion-item>

  <p>
    <ion-text style="margin-left: 15px" color="warning"
      ><ion-icon name="warning"></ion-icon
    ></ion-text>
    confirm i agree ✓
  </p>
</ion-content>

<ion-item>
  <ion-checkbox slot="start"></ion-checkbox>
  <ion-label>I agree to the terms and conditions</ion-label>
</ion-item>

<ion-segment [scrollable]="true" value="heart">
  <ion-segment-button value="globe">
    <ion-icon name="globe"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="home">
    <ion-icon name="home"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="heart">
    <ion-icon name="heart"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="pin">
    <ion-icon name="pin"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="star">
    <ion-icon name="star"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="call">
    <ion-icon name="call"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="basket">
    <ion-icon name="basket"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="barbell">
    <ion-icon name="barbell"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="trash">
    <ion-icon name="trash"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="person">
    <ion-icon name="person"></ion-icon>
  </ion-segment-button>
</ion-segment>

<ion-footer>
  <ion-toolbar style="text-align: center" color="primary">
    <ion-title>Made with 💙 by IEGCODE</ion-title>
  </ion-toolbar>
</ion-footer>
